* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	background-color: #aaa;
}

section, footer {
	border-top: 1px solid #ccc;
	padding: 50px;
	background-color: #fff;
}

footer {
	background-color: #eee;
}

.intro {
	background-color: #ccc;
	text-align: center;
	padding: 50px;
}

.intro h1 {
	font-size: 24pt;
	margin-bottom: 20px;
}