* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Verdana, sans-serif;
  background-color: #fff;
}

.container {
  width: 900px;
  margin: 0 auto;
}

section {
  padding: 50px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid .col-thirds {
  flex: 1 0 33%;
}

.grid .col-halfs {
  flex: 1 0 50%;
}

.intro {
  background-color: #ccc;
  text-align: center;
  padding: 50px;
}

.intro h1 {
  font-size: 24pt;
  margin-bottom: 20px;
}

footer {
  margin-top: 300px;
  border-top: 1px solid #ccc;
  padding: 50px;
  background-color: #fff;
  text-align: center;
  font-size: 9pt;
  text-transform: uppercase;
  font-weight: bold;
}
