// Colors
$bg-color: #222225;
$font-color: #e8e9ed;
$primary-color: #62c4ff;
$secondary-color: #a3abba;
$error-color: #ff3c74;
$code-bg-color: #3f3f44;
$selection-bg: $primary-color;

// Typography
$font-stack: "Space Mono", Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
$font-size: 17px;
$line-height: 1.4em;

// Layout
$page-width: 60em;
$space: 10px;

// Breakpoints
$mobile: 576px;
$tablet: 768px;
