.welcome {
  padding: ($space * 4) 0 0 0;

  @media (max-width: $mobile) {
    padding: ($space * 2) 0 0 0;
  }
}

.welcome-content {
  h1 {
    font-size: $font-size;
    font-weight: 700;
    margin-bottom: $space * 2;
    color: $primary-color;

    &::before {
      content: "~/ ";
      color: $secondary-color;
    }
  }

  p {
    color: $font-color;
    line-height: 1.7em;
  }
}

.recent-posts {
  padding-bottom: $space * 6;

  h2 {
    font-size: $font-size;
    font-weight: 600;
    color: $primary-color;
    margin-bottom: $space * 2;
  }
}
