*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box; /* Borders and padding are added to the height */
	color: $fg-color;
	background-color: $bg-color;
	font-family: $content-font-family;
	font-size: 1.9em;
	font-weight: 300;
	line-height: 1.9em;
	padding: 0rem;
}

h1, h2, h3, h4, h5 {
	font-family: $header-font-family;
	font-weight: 700;
	font-size: 3rem;
}

.container {
	@media (max-width: 576px) {
		width: 100%;
	}
	@media (min-width: 577px) and (max-width: 767px) {
		width: 540px;
	}
	@media (min-width: 766px) and (max-width: 991px) {
		width: 720px;
	}
	@media (min-width: 992px) and (max-width: 1200px) {
		width: 960px;
	}
	@media (min-width: 1200px)  {
		width: 1140px;
	}
}