*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box; /* Borders and padding are added to the height */
	color: $fg-color;
	background-color: $doc-color;
	font-family: $content-font-family;
	font-size: 1.9em;
	font-weight: 400;
	line-height: 1.9em;
	padding: 0rem;
}

h1, h2, h3, h4, h5 {
	font-family: $header-font-family;
	font-weight: 600;
	letter-spacing: -.1rem;
}

footer {
	width: 100%;
	background-color: #ccc;
	margin: 0rem;
	padding: 2rem;
	border-top: 2px solid $fg-color;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	background-color: rgb(18, 9, 61);
	padding: 2rem;

	h1 {
		font-family: 'Poppins', cursive;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 0.8em;
		padding: 5px;
		letter-spacing: 0px;		

		span {
			font-size: 1em;
			color: #ccc;
			padding-right: 10px;
			margin-right: 10px;
			border-right: 1px solid #cf0;
		}
	}

}

nav {
	ul {
		list-style: none;
		li {
			display: inline-block;
			a {
				color: #cf0;
				font-size: 1.6rem;
				text-decoration: none;
				padding: 0rem 1rem;
				margin: 0rem 1rem;

				&:visited {
					color: #cf0;
				}

				&:hover {
					color: #fff;
				}
			}
		}
	}
}

section {
	background-color: $bg-color;
	padding: 2rem 10rem;

	&#content {
		padding-bottom: 10rem;
		
		h1, h2, h3, h4, h5 {
			margin-top: 4.5rem;
			margin-bottom: 1.5rem;
		}
	}	
}