*,
*:after,
*:before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	color: $fg-color;
	background-color: $bg-color;
	font-family: $content-font-family;
	font-size: 1.9em;
	font-weight: 400;
	line-height: 1.9em;
	@media only screen and (max-width : 768px) {
		font-size: 1.6em;
		line-height: 1.6em;
	}
}

  a {
	  color: $link-color;
	  text-decoration: none;
	  border-bottom: 1px solid $link-color;

	  &:visited {
		  color: $link-color-visited;
	  }

	  &:hover {
		  border-bottom: 2px solid #000;
	  }
  }

  h1, h2, h3, h4, h5 {
	font-family: $header-font-family;
	font-weight: 600;
	letter-spacing: -.1rem;
  }

  footer {
	  width: 100%;
	  background-color: #ccc;
	  margin: 0rem;
	  padding: 2rem;
  }

  nav {
	padding: 10rem;  
  }

  section {
	  padding: 2rem 10rem;
  }