
footer {
	width: 100%;
	margin: 0rem;
	padding: 6rem;
	font-size: 1.5rem;
	text-align: center;
	color: rgb(204, 213, 216);

	a {
		color: rgb(204, 213, 216);
	}

	span {
		border-left: 1px solid rgb(194, 203, 206);
		padding-left: 1.5rem;
		margin-left: 1rem;
	}
}