
footer {
	padding: 2rem;
	width: 100%;
	font-size: 1.3rem;
	text-transform: uppercase;
	font-weight: 400;
	text-align: right;
	color: rgb(204, 213, 216);
	// background-color: $nav-bg-color;

	a {
		color: rgb(204, 213, 216);
	}

	span {
		border-left: 1px solid rgb(194, 203, 206);
		padding-left: 1.5rem;
		margin-left: 1rem;
	}
}