
footer {
	@media (max-width: 576px) {
		padding: 8rem;
		text-align: center;
		font-size: 1.5rem;
	}

	@media (min-width: 577px) {
		padding: 8rem;
		text-align: left;
		font-size: 1.5rem;
	}

	text-transform: uppercase;
	color: $secondary-color;

	a {
		color: $secondary-color
	}


	ul {
		list-style-type: none;
	}

	.copyright {
		margin-bottom: 2rem;
	}

	.social {
		a {
			text-decoration: none;
			color: $secondary-color-variant;

			&:hover {
				color: #fc0;
			}
		}
	}

	span {
		border-left: 1px solid rgb(194, 203, 206);
		padding-left: 1.5rem;
		margin-left: 1rem;
	}
}