.posts {

	& > :not(:last-child) {
		border-bottom: 1px solid rgba($primary-color,.1);
	}

	a {
		color: $secondary-color;
		text-decoration: none;

		&:hover {
			color: $link-hover-color;
		}
	}

	@media (max-width: 576px) {
		padding-top: 0;
		padding-bottom: 0;
	}

	@media (min-width: 577px) {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	.posts-item {

		&__meta {
			color: rgba($primary-color, .5);
			font-size: 1.4rem;
			margin-bottom: .5rem;

			&-date {
				margin-right: 1rem;
			}

			&-tag {
				display: none;
			}

			&-read {
				color: rgba($primary-color, .7);
			}
		}

		&__summary {
			font-size: 1.6rem;
			line-height: 1.65;
			color: $text-color;
		}

		@media (max-width: 576px) {
			padding: 3rem 2.5rem;

			&__title {
				font-size: 2rem;
				padding-bottom: 0.5rem;
			}
		}

		@media (min-width: 577px) {
			padding: 3rem 2rem;

			&__title {
				font-size: 2.2rem;
				padding-bottom: 0.5rem;
			}
		}
	}
}
