.posts {

	h1, h2, h3, h4, h5 {
		margin: 0rem;
		padding-left:6rem;
		padding-bottom: 1.5rem;
	}

	h1:first-child {
		font-size: 4rem;
		font-weight: 600;
		letter-spacing: -.2rem;
	}

	a {
		color: #000;
		text-decoration: none;

		&:hover {
			color: #c0f;
		}
	}

	p {
		padding-left:6rem;
		padding-right:30rem;
	}

	.posts-item {
		padding-top: 8rem;
		padding-bottom: 8rem;
		border-bottom: 1px solid #fff;

		&__title {
			font-weight: 300;
			font-size: 2.5rem;
			padding-bottom: 0rem;
		}

		&__meta {
			padding: 0rem 6rem;
			color: rgba(0,0,0,.3);
			font-size: 1.5rem;

			&-date {
				margin-right: 1rem;
			}

			&-tag {
				display: none;
			}

			&-read {
				color:rgba(0,0,0,.7);
			}
		}

		&__summary {
			color: rgba(0,0,0,.9);
			font-size: 1.6rem;
			line-height: 3rem;
	

			strong {
				font-weight: 600;
			}
		}
	}
}