#posts {

	h1, h2, h3, h4, h5 {
		margin: 0rem;
		padding-left:6rem;
		padding-bottom: 1.5rem;
	}

	h1:first-child {
		font-size: 4rem;
		font-weight: 600;
		letter-spacing: -.2rem;
	}

	a {
		color: #000;
		text-decoration: none;

		&:hover {
			color: #c0f;
		}
	}

	p {
		padding-left:6rem;
		padding-right:30rem;
	}

	.post {
		padding-top: 8rem;
		padding-bottom: 8rem;
		border-bottom: 1px solid #fff;
	}
}