.pagination {

	list-style-type: none;
	margin-left: 6rem;
	margin-top: 2rem;
	margin-bottom: 2rem;

	&__item {
		display: inline-block;
		font-size: 1.6rem;
		background-color: rgba(#000,.1);

		&:hover {
			background-color: rgba(#000,.2);
		}
		
		
		&:not(:first-child) {
			margin-left: 1rem;
		}

		&--next {
			display: none;
		}

		&--previous {
			display: none;
		}

		&--first {
			display: none;
		}

		&--last {
			display: none;
		}

		&--current {
			background-color: rgba(#000,.4);

			&:hover {
				background-color: rgba(#000,.5);
			}
		}

	}

	&__link {
		display: block;
		padding: 1rem 2.5rem;
		color: #fff;
		text-decoration: none;

		&:hover {
			color: #000;
		}
	}
}