// Fonts
$content-font-family: 'Poppins', sans-serif;
$header-font-family: 'Montserrat', sans-serif;
$title-font-family: 'Montserrat', sans-serif;

// Colors
$bg-color: rgb(237, 242, 244);
$doc-color: #ccc;
$fg-color: #000;
$nav-bg-color: #efefef;

$link-color: rgb(255, 0, 110);
$link-color-visited: rgb(217, 4, 41);