.welcome {
	width: 100%;
	background-color: rgba($tertiary-color-variant, .2);
	border-bottom: 1px solid rgba($doc-bg-color, .1);

	h1 {
		color: $tertiary-color;
		font-weight: 700;
	}

	p {
		color: $primary-color;
		font-weight: 400;
	}

	@media (max-width: 576px) {
		padding: 0 2.5rem;

		&-content {
			padding-top: 5rem;
			padding-bottom: 5rem;
		}

		h1 {
			font-size: 3rem;
			letter-spacing: -.05rem;
			margin-bottom: 1rem;
		}

		p {
			font-size: 1.8rem;
			line-height: 1.7;
		}
	}

	@media (min-width: 577px) {

		&-content {
			width: 90%;
			max-width: 700px;
			margin: 0 auto;
			padding: 10rem 2rem 12rem;
		}

		h1 {
			font-size: 5rem;
			letter-spacing: -.2rem;
			margin-bottom: 1rem;
		}

		p {
			font-size: 2rem;
			line-height: 1.65;
		}
	}
}
