#welcome {
	background-color: #fff;
	padding-top: 8rem;
	padding-bottom: 8rem;

	h1, h2, h3, h4, h5 {
		margin: 0rem;
		padding-top: 3rem;
		padding-left:6rem;
		padding-bottom: 1.5rem;
	}

	h1:first-child {
		font-size: 4rem;
		font-weight: 600;
		letter-spacing: -.2rem;
	}

	p {
		padding-left:6rem;
		padding-right:30rem;
	}
}