{{ define "main" }}
<section id="welcome">
	<h1>{{ .Title }}</h1>
	{{ .Content }}
	<p>_default / list.html</p>
</section>
<section id="posts">
	{{ $paginator := .Paginate (where .Site.RegularPages "Section" "posts") }}
	{{ range $paginator.Pages }}
	<div class="post">
		<h2 class="post__title">
		  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
		</h2>
		<div class="post__meta">
			<span class="post__meta-date">{{ .Date.Format "Jan 2, 2006" }}</span> 
			{{ with .Params.tags }}<span class="post__meta-tag">{{ delimit . ", " }}</span>{{ end }}
			<span class="post__meta-read">{{ math.Round (div (countwords .Content) 220.0) }} minutes</span>
		</div>
		<div class="post__summary">
		  {{ .Summary }}
		</div>
	</div>
	{{ end }}
	{{- partial "paginator.html" . -}}
	<p>home / home.html</p>
</section>
{{ end }}