{{ define "main" }}
<div class="content">
	<section class="welcome">
		<div class="welcome-content">
			<h1>{{ .Page.Title }}</h1>
			{{  .Content }}
		</div>
	</section>
	<section class="posts">
		{{ range ( where .Site.RegularPages "Type" "posts" | first 3 ) }}
		<div class="posts-item">
			<h2 class="posts-item__title">
			<a href="{{ .RelPermalink }}">{{ .Title }}</a>
			</h2>
			<div class="posts-item__meta">
				<span class="posts-item__meta-date">{{ .Date.Format "Jan 2, 2006" }}</span> 
				{{ with .Params.tags }}<span class="posts-item__meta-tag">{{ delimit . ", " }}</span>{{ end }}
			</div>
			<div class="posts-item__summary">
				{{ .Summary }}
			</div>
		</div>
		{{ end }}
	</section>
</div>
{{ end }}