.features {
	position: relative;

	h2 {
		position: absolute;
		display: inline-block;
		top: 10px;
		left: 20px;
		font-size: 15pt;
		background-color: $color-primary;
		color: $color-white;
		padding: 5px 35px;
		transform: rotateZ(-4deg);
	}

	h3 {
		margin-top: 20px;
	}
}

