footer {
	margin-top: 300px;
	border-top: 1px solid $color-grey;
	padding: 50px;
	background-color: $color-white;
	text-align: center;
	font-size: 9pt;
	text-transform: uppercase;
	font-weight: bold;
}