{{ define "main" }}
<section class="post container">
	<h1>{{ .Title }}</h1>
	<div class="post__meta">
		<p>
			{{ .PublishDate.Format "January 2, 2006" }} by {{ .Params.author }} -
			Estimated reading time: <strong>{{ .ReadingTime }} minutes</strong>
		</p>	
	</div>
	{{ .TableOfContents }}
	<span class="intro">
		{{ .Summary  }}
	</span>
	<span class="content">
		{{ $body := replace .Content .Summary "" }}
		{{ $body | emojify | safeHTML }}	
	</span>
</section>
<!--<p>default / single.html</p>//-->
{{ end }}